html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.back {
    background-color: darkseagreen;
    display: block;
    margin: 0;
    padding: 0;
    opacity: .8;
    z-index: 0;
    min-block-size: 50px;
    font-weight: 500;
    font-size: 13px;
}

.game-spot {
    margin: 2px;
    padding: 0;
    position: relative;
}

.back, .front {
    text-align: center;
}

.front {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    opacity: .5;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    left: 5px;
    z-index: 1;
    min-block-size: 40px;
    font-weight: 900;
}

.game-status {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.img-btn {
    height: 200px;
}

.spot > i {
    margin: auto;
}