@page
@model BeatTheStormWeb.Pages.gamesettingsModel
@{
}
<div class="row">
    <label class="text-center fs-1 mb-3">Choose playing modes.</label>
</div>
<div class="row ms-5 fs-4">
    <div class="col-6">
        <input type="radio" value="" id="rdPlayer2" name="multipleplayers" checked/>
        <label for="rdPlayer2">2 Players</label>
    </div>
    <div class="col-6">
        <input type="radio" value="" id="rdCardOnly" name="playingmode" />
        <label for="rdCardOnly">Card Only</label>
    </div>
</div>
<div class="row ms-5 fs-4">
    <div class="col-6">
        <input type="radio" value="" id="rdPlayComputer" name="multipleplayers" />
        <label for="rdPlayComputer">Play against Computer</label>
    </div>
    <div class="col-6">
        <input type="radio" value="" id="rdDiceWithCard" name="playingmode" checked />
        <label for="rdDiceWithCard">Dice with Random Card</label>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <label for="txtName">Please enter player 1 name</label>
        <input type="text" value="" id="txtName" placeholder="Enter 1st players name" />
    </div>
    <div class="col-12">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <label for="txtName">Please enter player 1 name</label>
        <input type="text" value="" id="txtName" placeholder="Enter 1st players name" />
    </div>
</div>
